mat-cell {
  color: #d59306;
  font-size: 15px;
  cursor: pointer;
}
.mat-table {
  min-width: auto !important;
  width: 100% !important;
}

.mat-button.stepper {
  min-width: auto !important;
  width: 100% !important;
  text-align: left;
}

mat-form-field {
  display: flex;
  direction: column; /* horizontally align inputs */
}

mat-icon {
  color: #d59306;
}
